<section class="bg-primary">
    <div class="container">
        
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: -80px;margin-bottom: 25px;"> 
                <h2>
                    Våra sammarbeten
                </h2>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <a href="https://open.spotify.com/artist/6AelNJV2eBg9B3gxfvBNFF?si=NBAvkI85TS2pxWQ6PesJOQ">
                    <i class="fa fa-music fa-3x wow bounceIn text-faded" data-wow-delay=".1s"></i>
                </a>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn text-faded" data-wow-delay=".1s"></i>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <a href="tel:+46723623979">
                    <i class="fa fa-phone fa-3x wow bounceIn text-faded" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div> -->
        
        <!-- Copyright section -->
        <div class="row text-center" style="margin-bottom: -100px;margin-top: 50px;">
            <p class="copyright-text">© 2023 Rexcel Technologies AB</p>
        </div>
    
    </div>

</section>
