<section class="bg-primary">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: -80px;margin-bottom: 60px;"> 
                <h2 data-lang="en">
                    Trusted By
                </h2>
                <h2 style="display: none;" data-lang="jp">
                    提携企業
                </h2>
            </div>
        </div>

        <div class="row">
            
            <!-- Kaplan Consulting logo -->
            <div class="col-lg-12 text-center">
                <a>
                    <img src="img/portfolio/Kaplan_Consulting_bright_grey.png" width="280px" alt="New Logo">
                </a>
            </div>

        </div>
        
        <!-- Copyright section -->
        <div class="row text-center" style="margin-bottom: -100px;margin-top: 150px;">
            <p class="copyright-text">© 2025 Rexcel Technologies AB</p>
        </div>
    
    </div>
</section>
