<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vi sköter följande:</h2>
                <hr class="light" style="margin-bottom: 5rem">
                <div class="custom-list-container">
                    <ul class="custom-list text-center">
                        <li>Löpande bokföring</li>
                        <li>Leverantörsfakturor och Kundfordran</li>
                        <li>Kvitton och Utlägg</li>
                        <li>Lön och arbetsgivardeklaration</li>
                        <li>Momsredovisning</li>
                        <li>Bokslut och Årsredovisning</li>
                        <li>Inkomstdeklaration</li>
                        <li>Rådgivning</li>
                    </ul>
                </div>
                
                <a href="#services" class="btn btn-default btn-xl page-scroll">Se priser!</a>
            </div>
        </div>
    </div>
</section>
