<section class="bg-primary" id="about">
    <div class="container" style="margin-top: -40px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- English Heading -->
                <h2 class="section-heading" data-lang="en">Services</h2>
                <!-- Japanese Heading -->
                <h2 class="section-heading" data-lang="jp" style="display: none;">事業内容</h2>

                <hr class="light" style="margin-top:4rem; margin-bottom: 5rem">
                <div class="custom-list-container" style="margin-bottom: 20px">
                    <ul class="custom-list text-center">
                        <!-- English List Items -->
                        <li data-lang="en">Custom APIs</li>
                        <li data-lang="en">Full-stack Web Applications</li>
                        <li data-lang="en">Image Processing</li>
                        <li data-lang="en">Custom OCR-Models</li>
                        <li data-lang="en">Smart GPT-Integrations</li>
                        <li data-lang="en">Customer Support Bots</li>
                        <li data-lang="en">Text Processing</li>
                        <li data-lang="en">Consultations</li>

                        <!-- Japanese List Items -->
                        <li data-lang="jp" style="display: none;">カスタムAPI</li>
                        <li data-lang="jp" style="display: none;">フルスタックウェブアプリケーション</li>
                        <li data-lang="jp" style="display: none;">画像処理</li>
                        <li data-lang="jp" style="display: none;">カスタムOCRモデル</li>
                        <li data-lang="jp" style="display: none;">スマートGPT統合</li>
                        <li data-lang="jp" style="display: none;">カスタマーサポートボット</li>
                        <li data-lang="jp" style="display: none;">言語処理</li>
                        <li data-lang="jp" style="display: none;">コンサルテーション</li>
                    </ul>
                </div>
                
                <!-- English Button -->
                <a href="#services" class="btn btn-default btn-xl page-scroll" data-lang="en">Pricing</a>
                <!-- Japanese Button -->
                <a href="#services" class="btn btn-default btn-xl page-scroll" data-lang="jp" style="display: none;">価格設定</a>
            </div>
        </div>
    </div>
</section>
