<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vi sköter följande:</h2>
                <hr class="light">
                <p class="text-faded">- Löpande bokföring</p>
                <p class="text-faded">- Lön och arbetsgivardeklaration</p>
                <p class="text-faded">- Momsredovisning</p>
                <p class="text-faded">- Kundfordran</p>
                <p class="text-faded">- Leverantörsfakturor</p>

                <a href="#" class="btn btn-default btn-xl">Se priser!</a>
            </div>
        </div>
    </div>
</section>
