<section class="bg-white" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: -30px;">
                <h2 class="section-heading">Hör av dig!</h2>
                <hr class="primary">
                <p style="margin-bottom: 60px;">Redo att ta ditt företag till nästa steg? 
                    <br>
                    Kontakta oss på email eller telefon och vi hör av oss så fort vi kan!
                </p>
            </div>
        
            <!-- Adjusted grid settings for phone icon box -->
            <div class="col-lg-3 col-lg-offset-3 text-center">
                <a id="phoneLink" href="#" data-part1="70" data-part2="264" data-part3="5243
                    <i class="fa fa-phone fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Visa nummer</p>
                </a>
            </div>

            <!-- Adjusted grid settings for email icon box -->
            <div class="col-lg-3 text-center">
                <a id="emailLink" href="#" data-user="service" data-domain="rextec" data-tld="se">
                    <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Visa email</p>
                </a>
            </div>

        </div>
    </div>


    
</section>
