<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>RexTec</h1>
            <!-- English Description -->
            <p style="margin-top: 30px;" data-lang="en">AI Consulting with focus on Computer Vision and Natural Language Processing.</p>
            <!-- Japanese Description -->
            <p style="margin-top: 30px; display: none;" data-lang="jp">コンピュータビジョンと自然言語処理に焦点を当てたAIコンサルティング。</p>
            
            <!-- English Read More Button -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="en">Read More!</a>
            <!-- Japanese Read More Button -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="jp" style="display: none;">詳細を見る！</a>
        </div>
    </div>
</header>
