<section class="bg-primary" id="portfolio">
    <div class="container-fluid">
        <div class="col-12 text-center">
            <h2>Your Title Here</h2>
        </div>
        

        <div class="row no-gutter">
            <!-- First Box -->
            <div class="col-lg-6 col-sm-12">
                <a href="#contact" class="portfolio-box page-scroll">
                    <img src="img/portfolio/test.jpg" class="img-responsive portfolio-image" alt="">
                    <!-- <img src="img/portfolio/test.jpg" class="img-responsive" alt="" style="object-fit: cover; height: 400px; width: 100%;"> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Redovisningskonsult
                            </div>
                            <div class="project-name">
                                Kendul Fittseller
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Second Box -->
            <div class="col-lg-6 col-sm-12">
                <a href="#contact" class="portfolio-box page-scroll">
                    <img src="img/portfolio/test2.jpg" class="img-responsive portfolio-image" alt="">
                    <!-- <img src="img/portfolio/test2.jpg" class="img-responsive" alt="" style="object-fit: cover; height: 400px; width: 100%;"> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Teknisk direktör
                            </div>
                            <div class="project-name">
                                Huns Burkuduul
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
