<!-- Start of services section -->
<section class="bg-white" id="services">

    <!-- Container for the section heading -->
    <div class="container" style="margin-top: -40px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- English Heading -->
                <h2 class="section-heading" data-lang="en">Pricing</h2>
                <!-- Japanese Heading -->
                <h2 class="section-heading" data-lang="jp" style="display: none;">価格設定</h2>

                <hr class="primary" style="margin-top: 5rem; margin-bottom: 8rem">
            </div>
        </div>
    </div>

    <!-- Container for the services boxes -->
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow bounceIn text-primary small-icon" data-wow-delay=".2s"></i>
                    <!-- English Content -->
                    <h3 data-lang="en">Consultations</h3>
                    <p class="text-muted" data-lang="en">
                        Building trust and long lasting
                        <br>partners is in our interest.
                        <br>Therefore our policy is to conduct
                        <br>the first consultation for free.</br>
                    </p>
                    <p style="margin-top: 1rem;" data-lang="en">Free</p>
                    <!-- Japanese Content -->
                    <h3 data-lang="jp" style="display: none;">コンサルテーション</h3>
                    <p class="text-muted" data-lang="jp" style="display: none;">
                        信頼と長期的な
                        <br>パートナーシップを築くことに
                        <br>力を入れています。
                        <br>そのため、最初の相談は無料で行います。</br>
                    </p>
                    <p data-lang="jp" style="display: none;margin-top: 1rem;">無料</p>
                </div>
            </div>
            

            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <!-- English Content -->
                    <h3 data-lang="en">IT-project</h3>
                    <p class="text-muted" data-lang="en">
                        Examples:
                        <br>Custom Chat-GPT bot,
                        <br>OCR-Integration
                    </br>
                    </p>
                    <p style="margin-top: 4rem;" data-lang="en">Project Based Offer</p>
                    <!-- Japanese Content -->
                    <h3 data-lang="jp" style="display: none;">ITプロジェクト</h3>
                    <p class="text-muted" data-lang="jp" style="display: none;">例：
                        <br>カスタムChat-GPTボット、
                        <br>OCR統合
                    </br>
                    </p>
                    <p data-lang="jp" style="display: none;margin-top: 4rem;">プロジェクトベースのオファー</p>
                </div>
            </div>

        </div>
    </div>
    
    <div class="container text-center" style="margin-top: 70px;">
        <div class="row">
            <!-- English Button -->
            <a href="#contact" class="btn btn-primary btn-xl page-scroll" data-lang="en">Interested?</a>
            <!-- Japanese Button -->
            <a href="#contact" class="btn btn-primary btn-xl page-scroll" data-lang="jp" style="display: none;">興味ある！</a>
        </div>
    </div>
</section>
<!-- End of services section -->

