<!-- Start of services section -->
<section class="bg-white" id="services">

    <!-- Container for the section heading -->
    <div class="container" style="margin-top: -40px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paket vi erbjuder</h2>
                <hr class="primary" style="margin-top: 5rem; margin-bottom: 8rem">
            </div>
        </div>
    </div>
    <!-- Container for the services boxes -->
    <div class="container">
        <div class="row">
            <!-- Start of service box -->
            <!-- Ready to Ship box -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary small-icon" data-wow-delay=".1s"></i>
                    <h3>Enskild Näringsidkare</h3>
                    <p class="text-muted">För dig som driver 
                        <br>enskild firma.</br>
                        <br>Exempelvis:
                            <p class="text-muted">Artist,</p>
                            <!-- <p class="text-muted">Konstnär,</p> -->
                            <p class="text-muted">Hantverkare</p>
                        </br>
                    </p>
                    <p style="margin-top: 1rem;">299 sek/månad (exkl. moms)</p>
                </div>
            </div>
            <!-- End of service box -->

            <!-- Start of service box -->
            <!-- Up to Date box -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow bounceIn text-primary small-icon" data-wow-delay=".2s"></i>
                    <h3>Egenföretagare</h3>
                    <p class="text-muted">För dig som driver
                        <br>aktiebolag med upp till en anställd.</br>
                        <br>Exempelvis:
                            <p class="text-muted">Konsult,</p>
                            <p class="text-muted">Butiksägare</p>
                            <!-- <p class="text-muted">Frilansjournalist</p> -->
                        </br>
                    </p>
                    <p style="margin-top: 1rem;">1499 sek/månad (exkl. moms)</p>
                </div>
            </div>
            <!-- End of service box -->

            <!-- Start of service box -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>IT-tjänst</h3>
                    <p class="text-muted">För dig som behöver
                        <br>hjälp med IT-lösningar.</br>
                        <br>Exempelvis:
                            <p class="text-muted">Driva egen hemsida,</p>
                            <p class="text-muted">Automatisera arbetsprocesser</p>
                        </br>
                    </p>
                    <p style="margin-top: 1rem;">Offert</p>
                </div>
            </div>
            <!-- End of service box -->
        </div>
    </div>
    
    <div class="container text-center" style="margin-top: 70px;">
        <div class="row">
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Intresserad!</a>
        </div>
    </div>
</section>
<!-- End of services section -->
